{{! <!-- begin carousel slides -->}}
<div class="slideshow-wrapper">
<ul data-orbit data-options="resume_on_mouseout: true; slide_number: false; navigation_arrows: true; timer: false; orbit-stack-on-small:true; bullets:false">
  {{#item-group}}
  {{#items}}
  <li data-orbit-slide="headline-{{id}}">
    <div class="small-6 columns slide-image-container">
      <img src="http://placehold.it/400x400&text=EIC-photo" />
      <p class="slide-image-caption">{{slide-image-caption}}</p>
    </div>
    <div class="small-6 columns slide-content-container">
        {{#if flag.featured}}
        <p><i class="icon-star"></i> {{../channel}} featured item</p>
        {{/if}}
        {{#if flag.story-of-the-week}}
        <p><i class="icon-bookmark"></i> {{../channel}} story of the week</p>
        {{/if}}
      <strong><a href="#">{{title}}</a></strong>
      <p class="citation">{{citation}}</p>
      {{#expert-comment}}
      <div class="expert-comment-container">
        <div class="comment-meta">
        <h5><i class="icon-comment"></i>&nbsp;Expert Comment</h5>
        {{> author-list}}
        </div><!--/.comment-meta-->
      </div><!--/.expert-comment-container-->
      {{/expert-comment}}
    </div>
  </li>
  {{/items}}
  {{/item-group}}
</ul>

{{! <!-- begin carousel thumbnails -->}}
<div class="carousel-thumbs-container">
  <ul data-orbit data-options="resume_on_mouseout: false; slide_number: false; navigation_arrows: true; timer: false; orbit-stack-on-small:true; bullets:false">
    {{#item-group}}
    <li data-orbit-slide="headline-thumb-group-{{@index}}">
      <ul class="large-block-grid-5 hide-for-small">
        {{#items}}
        <li>
          <a class="th radius" data-orbit-link="headline-{{id}}">
            <img src="{{slide-thumb}}">
            <div><p class="title-abbrev">{{title-abbrev}}</p></div>
          </a>
        </li>
        {{/items}}
      </ul>
    </li>
    {{/item-group}}
  </ul>
</div><!--/.carousel-thumbs-container-->
</div><!--/.sildeshow-wrapper-->
