<div id="{{cta-id}}" class="well cta {{cta-type}}">
{{#cta-title}}<div class="cta-title"><span class="cta-title-text">{{cta-title-text}}</span></div><!--/.cta-title-->{{/cta-title}}
	{{#if cta-img}}
	<div class="cta-img-container">
		<img src="{{relative page.dest assets}}/{{cta-img.cta-img-url}}" alt="{{cta-img.cta-img-alt}}" />
	</div><!--/.cta-img-container-->
	{{/if}}
	{{#cta-content}}
	<div class="cta-content">
		{{{cta-content-html}}}
	</div><!--/.cta-content-->
	{{/cta-content}}
	{{#cta-button}}
	<div class="cta-action meet-our-experts-button">
		<a class="cta-btn" href="{{cta-button-url}}"><span class="cta-btn-text">{{cta-button-text}}</span></a>
	</div> <!--/.cta-action-->
	{{/cta-button}}
</div><!--/.cta-->
