<section class="user-profile-section user-profile-social">
  <h3>Elsewhere</h3>
  <ul class="profile-list">
    <li class="profile-facebook"><i class="icon-facebook-sign"></i> <a rel="external" href="https://www.facebook.com/{{profile-facebook-userid}}"></a></li>
    <li class="profile-linkedin"><i class="icon-linkedin-sign"></i> <a rel="external" href="http://www.linkedin.com/in/{{profile-linkedin-userid}}"></a></li>
    <li class="profile-googleplus"><i class="icon-google-plus-sign"></i> <a rel="external" href="https://plus.google.com/{{profile-googleplus-userid}}"></a></li>
    <li class="profile-elsevierauthor"><i class="icon-elsevier-sign"></i> <a rel="external" href="http://elsevierauthors.com/{{profile-elsevierauthor-userid}}"></a></li>
    <li class="profile-twitter"><i class="icon-twitter-sign"></i> <a rel="external" href="https://twitter.com/{{profile-twitter-userid}}"></a></li>
  </ul><!--/.profile-list-->
</section><!--/.user-profile-social-->
