<span class="vcard">
  <img class="{{source.type}}-avatar" src="{{{img.url}}}"/>
  {{#name}}
  <!-- {{firstName}} {{middleName}} {{lastName}} {{honorific}} -->
  <a class="fn n {{source.type}}-name" href="#">
    <!-- <span class="honorific-prefix">Dr.</span> -->
    <span class="given-name">{{firstName}}</span>
    <span class="additional-name">{{middleName}}</span>
    <span class="family-name">{{lastName}}</span>
    <span class="honorific-suffix">{{honorific}}</span>
  </a><!--/.fn-->
  {{/name}}
</span><!--/.vcard-->
